@import "bourbon";

@import "variables";
@import "buttons";
@import "helpers/nolist";
@import "helpers/typescale";

@import "helpers/normalize";
@import "helpers/fonts";

html {
	background: $white;
	color: $black;
	font: #{$basesize} / 1.4 'Workaday', 'Helvetica Neue', Helvetica, sans-serif;
}

section {
	max-width: 780px;
	margin: 100px auto;
	padding: 0 20px;
	text-align: center;
}

h1, h2, h3 {
	border-bottom: .18em solid $black;
	display: inline-block;
}

h1 {
	font-size: typescale(4);
	margin: 0;
.	white-space: nowrap;
}

h2 {
	font-size: typescale(3);
}

h3 {
	font-size: typescale(2);
}

p {
	margin: 1.4em 0;
}

img {
	max-width: 100%;
	height: auto;
}

#title {
	margin: 60px auto 40px;
}

#logo {
	@include hide-text;
	display: inline-block;
	background-image: url(../images/logo.png);
	width: 310px;
	height: 257px;
}

#hero {
	position: relative;

	img {
		border-bottom: 10px solid #ccc;
		border-right: 10px solid #eee;
		display: block;
	}

	&:before {
		content: '';
		@include triangle(10px, $white, down-left);
		position: absolute;
		bottom: 0;
		left: 20px;
	}

	&:after {
		content: '';
		@include triangle(10px, $white, up-right);
		position: absolute;
		top: 0;
		right: 10px;
	}
}

#buy {
	.button {
		font-size: typescale(2);
	}

	ul {
		@include nolist;
		background: #fff;
		border: 1px solid #f6f6f6;
		border-radius: 3px;
		padding: 2em;
		margin: 4em auto 0;
		width: 300px;
	}

	li {
		margin: 2em 0 0;

		&:first-child {
			margin: 0;
		}
	}

	span {
		display: block;
	}

	.product {
		float: left;
	}

	.price {
		color: $grey;
		text-align: right;
	}

	small {
		color: lighten($grey, 25%);
		font-size: .7em;
	}

	.includes {
		color: lighten($grey, 25%);
		font-size: .75em;
		text-align: left;
	}

	p {
		color: $grey;
		margin-top: 2em;
	}
}

#bio {
	div {
		margin: 2em 0 0;
		text-align: left;
	}

	p {
		margin-top: 0
	}
}

@media (min-width: 600px) {
	#bio div {
		@include columns(2);
		@include column-gap(90px);
	}
}

#social {
	.button {
		font-size: typescale(2);
	}

	ul {
		@include nolist;
		margin-top: 2em;
	}

	li {
		display: inline-block;
		margin: 0 22px;
	}

	.svg {
		fill: $grey;

		&:hover {
			fill: $purple;
		}
	}
}
